/* line 29, ../sass/style.scss */
* {
  margin: 0px;
}

/* line 30, ../sass/style.scss */
body {
  background-color: #000;
  min-width: 1081px;
}

/* line 31, ../sass/style.scss */
p, span, br {
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
}

/* line 32, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 33, ../sass/style.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 35, ../sass/style.scss */
div {
  width: 150px;
  float: left;
  margin-right: 5px;
}

/* line 36, ../sass/style.scss */
.load {
  opacity: 0;
}

/* line 37, ../sass/style.scss */
.load.active {
  opacity: 1;
}

/* line 44, ../sass/style.scss */
p.few_clouds, p.scattered_clouds, p.broken_clouds {
  color: white;
  background-color: #555;
  border: 1px solid black;
}
/* line 47, ../sass/style.scss */
p.overcast_clouds {
  color: black;
  background-color: #999;
  border: 1px solid black;
}
/* line 52, ../sass/style.scss */
p.light_snow, p.light_rain {
  color: black;
  background-color: #949fff;
  border: 1px solid black;
}
/* line 55, ../sass/style.scss */
p.rain, p.snow, p.shower_rain, p.moderate_rain {
  color: white;
  background-color: #0000ff;
  border: 1px solid black;
}
/* line 58, ../sass/style.scss */
p.heavy_intensity_rain {
  color: white;
  background-color: #000099;
  border: 1px solid black;
}
/* line 63, ../sass/style.scss */
p.clear_sky {
  color: white;
  background-color: #000;
  border: 1px solid white;
}
/* line 66, ../sass/style.scss */
p.thunder_storm {
  color: black;
  background-color: #e6e600;
  border: 1px solid black;
}
/* line 69, ../sass/style.scss */
p.mist {
  color: black;
  background-color: #99ffcc;
  border: 1px solid black;
}

/* line 78, ../sass/style.scss */
span {
  display: inline-block;
  width: 70px;
}

/* line 79, ../sass/style.scss */
.t90 {
  color: black;
  background-color: #ff4000;
}

/* line 80, ../sass/style.scss */
.t80 {
  color: black;
  background-color: #ffbf00;
}

/* line 81, ../sass/style.scss */
.t70 {
  color: black;
  background-color: #bfff00;
}

/* line 82, ../sass/style.scss */
.t60 {
  color: black;
  background-color: #00ff80;
}

/* line 83, ../sass/style.scss */
.t50 {
  color: black;
  background-color: #00ffbf;
}

/* line 84, ../sass/style.scss */
.t40 {
  color: black;
  background-color: #00ffff;
}

/* line 85, ../sass/style.scss */
.t30 {
  color: black;
  background-color: #00bfff;
}

/* line 86, ../sass/style.scss */
.t20 {
  color: black;
  background-color: #0080ff;
}

/* line 87, ../sass/style.scss */
.t10 {
  color: black;
  background-color: #0000ff;
}

/* line 88, ../sass/style.scss */
.t0 {
  color: black;
  background-color: #8000ff;
}

/* line 94, ../sass/style.scss */
.links-col {
  float: right;
  width: 300px;
}

/* line 99, ../sass/style.scss */
.links p span {
  display: none;
}

/* line 100, ../sass/style.scss */
.links p:hover span {
  display: inline-block;
  cursor: pointer;
  color: red;
}

/* line 102, ../sass/style.scss */
input {
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  display: block;
  color: white;
  outline: none;
}

/* line 111, ../sass/style.scss */
.link-add {
  width: 100%;
}

/* line 112, ../sass/style.scss */
.plus {
  cursor: pointer;
}

/* line 113, ../sass/style.scss */
.minus, .submit-link, input {
  cursor: pointer;
  display: none;
}

/* line 114, ../sass/style.scss */
.submit-link {
  margin-top: 10px;
}

/* line 116, ../sass/style.scss */
.link-add.active .plus {
  display: none;
}

/* line 117, ../sass/style.scss */
.link-add.active .minus, .link-add.active .submit-link, .link-add.active input {
  cursor: pointer;
  display: block;
}
